{% extends "inicio/encabezado.html" %}
{% load static %}

{% block titulo %}Contacto{% endblock %}

{% block contenido %}

<section class="py-5">
  <div class="container">
    <h2 class="text-center mb-4">Formulario de Contacto</h2>
      <p class="lead">{{ recorrido.ciudad }} - {{ recorrido.estado }} | {{ recorrido.fecha }}</p>

    <form method="post" class="mx-auto" style="max-width: 600px;" novalidate>
      {% csrf_token %}

      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" name="nombre" id="nombre" class="form-control">
      </div>

      <div class="mb-3">
        <label for="correo" class="form-label">Correo electrónico:</label>
        <input type="email" name="correo" id="correo" class="form-control">
      </div>

      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono:</label>
        <input type="text" name="telefono" id="telefono" class="form-control">
      </div>

      <div class="mb-3">
        <label for="ciudad" class="form-label">Ciudad:</label>
        <input type="text" name="ciudad" id="ciudad" class="form-control">
      </div>

      <div class="mb-3">
        <label for="estado" class="form-label">Estado:</label>
        <input type="text" name="estado" id="estado" class="form-control">
      </div>

    

          {% if not recorrido %}
          <div class="mb-3">
            <label for="{{ form.recorrido.id_for_label }}" class="form-label">Seleccionar Recorrido</label>
            {{ form.recorrido }}
          </div>
          {% endif %}

          <div class="text-end">

      <div class="text-end">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}
