<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{% block titulo %}Bici Tour{% endblock %}</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'inicio/css/estilos.css' %}" rel="stylesheet" />
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'inicio/images/logo.png' %}" alt="Logo" height="40">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a href="{% url 'principal' %}" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="{% url 'preinscripcion' %}" class="nav-link">preinscripcion</a></li>
                   
                </ul>
            </div>
        </div>
    </nav>

    <!-- INICIO DEL CONTENIDO PRINCIPAL -->
    {% block contenido %}
    
    
    {% endblock %}
    <!-- FIN DEL CONTENIDO PRINCIPAL -->

    <!-- FOOTER -->
    <footer class="bg-success text-white py-4 mt-5">
        <div class="container d-flex justify-content-between align-items-center">
          
            <div>
                contactanos en <br>
                Email: araSolution@gmail.com
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
